/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* General styles and layout */
:root {
  --green: rgb(197, 248, 42);
  --white: rgb(255, 255, 255);
  --grey700: rgb(51, 51, 51);
  --grey800: rgb(31, 31, 31);
  --grey900: rgb(20, 20, 20);
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/Inter-Regular-subset.woff2) format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-display: swap;
  src: url(./assets/fonts/Inter-SemiBold-subset.woff2) format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-display: swap;
  src: url(./assets/fonts/Inter-Bold-subset.woff2) format("woff2");
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  /* 0.875rem => 0.875 * 16px = 14px */
  font-size: 0.875rem;
  color: var(--white);
  background-color: var(--grey900);
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  padding: 24px;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}

/* Profile card */
.card {
  text-align: center;
  background-color: var(--grey800);
  flex-basis: 24rem;
  border-radius: 1rem;
  padding: 2rem;
}

.card img {
  width: 6rem;
  border-radius: 50%;
  margin: 0.5rem auto 1.5rem;
}

.card h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.location {
  font-weight: 700;
  color: var(--green);
  margin-bottom: 1.5rem;
}

.tagline {
  margin-bottom: 1.5rem;
}

.links {
  list-style-type: none;
  padding: 0;
}

.links li {
  background-color: var(--grey700);
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.links a {
  color: var(--white);
  font-weight: 700;
  display: block;
  padding: 0.75rem;
}
